header h1 { /* ESTÁ ESTILIZANDO O TÍTULO*/
   color:#633d2e;
   font-size: xx-large;
   font-family: Arial, Helvetica, sans-serif;
   

}

header img { /* largura da imagem*/
   width: 75px;
   

}

header { /*ESTILIZANDO O CABEÇALHO*/
   background-color:#bfd8ad;
   padding: 25px;
   display: flex; /* TORNA OS ITENS FLEX E DEIXAR LADO A LADO*/
   justify-content: center; /* ORGANIZA OS CONTEÚDOS DENTRO DO CABEÇALHO*/
   gap: 30px; /* DISTANCIA ENTRE ITENS*/
   align-items: center; /*ALINHA OS ITENS */
}


.apresentação {
   font-size: xX-large ;
   padding: 150px; /* PREENCHE A SEÇÃO*/
   background-color: #f7e3b2;/*COR DE FUNDO*/
   text-align: center; /* ALINHA O TXTO*/
   display: flex; /* TORNA OS ITENS FLEX E DEIXAR LADO A LADO*/
   justify-content: center; /* ORGANIZA OS CONTEÚDOS DENTRO DO CABEÇALHO*/
   gap: 50px; /* DISTANCIA ENTRE ITENS*/
   align-items: center; /*ALINHA OS ITENS */
}

.introdução {
   padding: 150px;
   background-color: #ddd9ab;
   text-align: center;

}

.introdução i {
      font-size: 30px;
      color: #633d2e;
      
}

   .introdução p {
      font-size: 30px;
   }




.final {
   padding: 250px;
  background-image: url(IMAGENS/caffeine-1867326_1280.jpg);/*CAMINHO DA IMAGEM*/
  background-position: 10%;/*POSIÇÃO DA IMAGEM DE FUNDO*/
  background-size: cover;/*PREENCHIMENTO TOTAL DA IMAGEM*/
   display: flex;/*POSICIONAR O BUTTON*/
   justify-content: center;/*DETERMINANDO A POSIÇÃO DO BUTTON*/

}
.final button {
   width: 150px;/*LARGURA DO BOTÃO*/
   padding: 10px;/*PREENCHIMENTO DO BOTÃO*/
   background-color: rgba(128, 128, 128, 0.301);/*COR DE FUNDO*/
   color: white ;/*COR DA LETRA*/
   border-radius: 5px;/*ARREDONDAMENTO DO BOTÃO*/
   
}
footer {
   background-color: beige;/*COR DO FUNDO DO RODAPÉ*/
   padding: 30px;
   color: black;
   font-size: 20px;
   text-align: center;

}
footer i {
   font-size: 40px;
   
}