header h1 { /* ESTÁ ESTILIZANDO O TÍTULO*/
   color:#633d2e;
   font-size: xx-large;
   font-family: Arial, Helvetica, sans-serif;
   

}

header img { /* largura da imagem*/
   width: 75px;
   

}

header { /*ESTILIZANDO O CABEÇALHO*/
   background-color:#bfd8ad;
   padding: 25px;
   display: flex; /* TORNA OS ITENS FLEX E DEIXAR LADO A LADO*/
   justify-content: center; /* ORGANIZA OS CONTEÚDOS DENTRO DO CABEÇALHO*/
   gap: 30px; /* DISTANCIA ENTRE ITENS*/
   align-items: center; /*ALINHA OS ITENS */
}


.apresentação {
   font-size: xX-large ;
   padding: 150px; /* PREENCHE A SEÇÃO*/
   background-color: #f7e3b2;/*COR DE FUNDO*/
   text-align: center; /* ALINHA O TXTO*/
   display: flex; /* TORNA OS ITENS FLEX E DEIXAR LADO A LADO*/
   justify-content: center; /* ORGANIZA OS CONTEÚDOS DENTRO DO CABEÇALHO*/
   gap: 50px; /* DISTANCIA ENTRE ITENS*/
   align-items: center; /*ALINHA OS ITENS */
}

.introdução {
   padding: 150px;
   background-color: #ddd9ab;
   text-align: center;

}
   .introdução i {
      font-size: 200px;
      color: #633d2e;
      

   }


.final {
   padding: 200px;
  background-image: url(IMAGENS/caffeine-1867326_1280.jpg);/*CAMINHO DA IMAGEM*/
  background-position: 20%;/*POSIÇÃO DA IMAGEM*/
  background-size: cover;/*PREENCHIMENTO TOTAL DA IMAGEM*/
   text-align: center;


}